# ignore everything
*

# except those files & folders
!Development/
!Development/Src/
!Development/Src/DrumOut/
!Development/Src/DrumOut/*
!Development/Src/DrumOut/*/*
!UDKGame/
!UDKGame/Content/
!UDKGame/Content/zGameTest.upk
!UDKGame/Content/DrumOut/
!UDKGame/Content/DrumOut/*
!UDKGame/Content/DrumOut/*/*
